/* Urbanist */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/urbanist-v18-latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/urbanist-v18-latin-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/urbanist-v18-latin-700.woff2') format('woff2');
}

/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jetbrains-mono-v24-latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/jetbrains-mono-v24-latin-500.woff2') format('woff2');
}

/* Noto Sans SC */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-sc-v39-chinese-simplified-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-sc-v39-chinese-simplified-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-sc-v39-chinese-simplified-700.woff2') format('woff2');
}